<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.insper.al.anaccf5.preparoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Preparo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vagas" />
        <activity android:name=".HabilidadesPerfil" />
        <activity android:name=".CurriculoPerfil" />
        <activity android:name=".AreasInteressePerfil" />
        <activity android:name=".FormacaoPerfil" />
        <activity android:name=".AreasInteresse" />
        <activity android:name=".Olimpiadas" />
        <activity android:name=".Habilidades" />
        <activity android:name=".Curriculo" />
        <activity android:name=".FormacaoAcademica" />
        <activity android:name=".Identificacao" />
        <activity android:name=".Localizacao" />
        <activity android:name=".InformacoesPessoais" />
        <activity android:name=".Perfil" />
        <activity android:name=".RecuperarSenha" />
        <activity android:name=".Cadastro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>